<div class="footer">
          <div class="container">
              <div class="row">
                  <div class="7u">
                     <p>&copy; WiCV @CVPR 2019</p>
                  </div>
                  <div class="1u">
                     <a href="mailto:wicv19-organizers@googlegroups.com" class="fa fa-envelope" style="font-size:1.25em;" data-placement="top" data-toggle="tooltip" title="Email"></a>
                  </div>
                  <div class="1u">
                    <a href="https://twitter.com/wicvworkshop" class="fa fa-twitter" data-placement="top" style="font-size:1.25em;"  data-toggle="tooltip" title="Twitter"></a>
                  </div>
                  <div class="1u">
                    <a href="https://www.facebook.com/WomenInComputerVision/" class="fa fa-facebook" data-placement="top" style="font-size:1.25em;" data-toggle="tooltip" title="Facebook"></a>
                  </div>
              </div>
              </div>
            </div>

        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init(100926441); }catch(e){}</script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100926441ns.gif" /></p></noscript>
