<div id="header-wrapper">
            <!-- Header -->
            <div id="header" class="container">
                <!-- Logo -->
                <!-- Nav -->
                <nav id="nav">
                    <ul style="padding-top: 10px; padding-bottom: 2em">
                        <li>
                            <a href="index.html#header" class="">
                                <span style="
                                    position: relative;
                                    width: 261px;
                                    display: inline-block;
                                    height: 10px;
                                    ">
                                    <img src="images/wicv_logo_simple.png" style="
                                    position: absolute;
                                    left: 0;
                                    width: 131px;
                                    top: -20px;
                                    "/>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="index.html"><span>Home</span></a>
                        </li>
                        <li>
                            <a href="program.html"><span>Program</span></a>
                        </li>
                        <li>
                            <a href="faq.html"><span>FAQ</span></a>
                        </li>
                        <li>
                            <a href="committee.html"><span>Committee</span></a>
                        </li>
                        <li>
                            <a href="participation.html"><span>Call for Participation</span></a>
                        </li>
                        <li>
                            <a href="contact.html"><span>Contact</span></a>
                        </li>
                        <li>
                           <a href="#"><span>WiCV</span></a>
                           <ul>
                               <li><a href="https://wicvworkshop.github.io/CVPR2019/index.html">WiCV @CVPR 2019</a></li>
                              <li><a href="https://wicvworkshop.github.io/ECCV2018/index.html">WiCV @ECCV 2018</a></li>
                              <li><a href="https://wicvworkshop.github.io/CVPR2018/index.html">WiCV @CVPR 2018</a></li>
                              <li><a href="https://wicvworkshop.github.io/2017/index.html">WiCV 2017</a></li>
                              <li><a href="https://sites.google.com/site/wicv2016/home">WiCV 2016</a></li>
                              <li><a href="https://sites.google.com/site/wicv2015/home">WiCV 2015</a></li>
                           </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

